<h1>The "Dog & Bunny" Show Pet Store</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-md-2"></th>
            <th >Pet Name</th>
            <th class="col-md-2">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr><th colspan="3" class="text-center">Dogs</th></tr>
        <tr ng-repeat="dog in c.dogs">
            <td class="text-right"><a ui-sref="details({id: dog.id, type: 'dog'})"><img ng-src="/images/{{dog.img}}" class="thumb img-thumbnail" /></a></td>
            <td><a ui-sref="details({id: dog.id, type: 'dog'})">{{dog.name}}</a></td>
            <td class="text-left">{{dog.price | currency}}</td>
        </tr>
        <tr><th colspan="3" class="text-center">Bunnies</th></tr>
        <tr ng-repeat="bunny in c.bunnies">
            <td class="text-right"><a ui-sref="details({id: bunny.id, type: 'bunny'})"><img ng-src="/images/{{bunny.img}}" class="thumb img-thumbnail" /></a></td>
            <td><a ui-sref="details({id: bunny.id, type: 'bunny'})">{{bunny.name}}</a></td>
            <td class="text-left">{{bunny.price | currency}}</td>
        </tr>
    </tbody>
</table>